<!DOCTYPE html>
<html ng-app="jitteryApp">
<head>
<title>Jittery Joe's Test</title>
</head>
<body>
<div class="main-wrapper"><br>

	<div class="container row">
		<div class="col-md-12">
			<div class="col-md-4"><img src="images/logo.png" width="50%" height="50%" alt=""/></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				<h2>By Blend</h2>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<img src="http://placehold.it/350x150" width="100%" height="150">
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<ul>
					<li>After Dinner</li>
					<li>Bourque Newswatch</li>
					<li>CN Tower Power</li>
					<li>Connoisseur Estates</li>
				</ul>
			</div>
			<div class="col-md-6">
				<div class="row">
					Strength Graph
				</div>
				<hr />
				<div class="row">
					User Ratings
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	<hr />
		<div class="col-md-12">
			<button type="submit" class="btn btn-default">Order Now!</button>
		</div>
	</div>
	<hr />
	<div class="review-form-wrapper row">
        <form name="ratingForm" ng-submit="addNewRating()">
<!--          <div class="review-item form-group col-md-6">
            <label for="review-item-field">Choose a blend</label>
            <select ng-model="review.item" name="review-item-field" id="review-item-field" class="review-item-field form-control">
              <option value="After Dinner">After Dinner</option>
              <option value="Bourque Newswatch">Bourque Newswatch</option>
              <option value="CN Tower of Power">CN Tower of Power</option>
              <option value="Connoisseur Estates">Connoisseur Estates</option>
              <option value="Columbian">Columbian</option>
              <option value="Dutch Trader">Dutch Trader</option>
              <option value="Fordnation Blend">Fordnation Blend</option>
              <option value="French Roast">French Roast</option>
              <option value="Hawaii Kona">Hawaii Kona</option>
              <option value="House Blend">House Blend</option>
              <option value="Italian Roast">Italian Roast</option>
              <option value="Lionel Roastie">Lionel Roastie</option>
              <option value="Mocca-Java">Mocca-Java</option>
              <option value="Reggae Blend">Reggae Blend</option>
              <option value="Ruth Roast">Ruth Roast</option>
              <option value="Toronto Blend">Toronto Blend</option>
              <option value="Tropic of Coffee">Tropic of Coffee</option>
              <option value="World Tour Blend">World Tour Blend</option>
            </select>
          </div>-->
          <div class="review-rating form-group col-md-6">
            <label>Blend rating</label>
            <br />
            <label ng-repeat="num in [1,2,3,4,5]">
              <input ng-model="review.rating" type="radio" id="rating-{{num}}" name="review-rating-field" value="{{num}}">
              {{num}}
            </label>
          </div>
          <div class="review-comment form-group col-md-12">
            <label for="review-comment-field">Comment</label>
            <textarea ng-model="review.comment" rows="3" class="form-control" id="review-comment-field" name="review-comment-field"></textarea>
          </div>
          <div class="submit form-group col-md-12">
            <button type="submit" class="btn btn-default pull-right">Send</button>
          </div>
        </form>
      </div>
</div>

<!-- Bootstrap CDN --> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script> 

<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|Architects+Daughter' rel='stylesheet' type='text/css'>

<!-- Custom JS --> 
<script src="js/app.js"></script> 

<!-- Custom stylesheet -->
<link rel="stylesheet" href="style.css" />
</body>
</html>