<!DOCTYPE html>
<html ng-app="jitteryApp">
  <head>
    <title>Jittery Joe's Test</title>
  </head>
  <body  ng-controller="ReviewListCtrl">
  <div class="main-wrapper"><br>
        <header class="row">
            <img src="images/logo.png"/>
            <h1>Jittery Joe's</h1>
            <div class="slogan">
                Really good coffee.
            </div>
        </header>
	<hr />
  	<div class="row">
  		<div class="col-md-12">
  			<div class="col-md-3"><h4 ng-click="switchView('alpha')">By Blend</h4></div>
  			<div class="col-md-3"><h4 ng-click="switchView('rating')">By Rating</h4></div>
  			<div class="col-md-3"><h4 ng-click="switchView('strength')">By Strength</h4></div>
  			<div class="col-md-3"><h4 ng-click="switchView('region')">By Region</h4></div>
  		</div>
  	</div>
  	<hr />
  	<!-- when $scope.myValue is truthy (element is hidden) -->
  	<span id="intro">Choose one of the above options to begin!</span>

  	<!-- Detail Mode -->
    <div ng-show="detailMode" class="animate-hide">
    	<a ng-click="toggleShow(false)">(Click to go back)<br></a><div class="blend-wrapper">
		<h2>Blend: {{current}}</h2>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					{{currentBlend.description}}
				</div>
				<div class="col-md-6">
					<div class="row">
						Average User Rating: {{currentBlend.average}}
					</div>
					<hr />
					<div class="row">
						# of User Ratings: {{currentBlend.number}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		<hr />
			<div class="col-md-12">
				<button type="submit" class="btn btn-default">Order Now!</button>
			</div>
		</div>
		<hr />
		<div class="review-form-wrapper row">
	        <form name="ratingForm" ng-submit="addNewRatingFor(current)">
	          <div class="review-rating form-group col-md-6">
	            <label>Blend rating</label>
	            <br />
	            <label ng-repeat="num in [1,2,3,4,5]">
	              <input ng-model="review.rating" type="radio" id="rating-{{num}}" name="review-rating-field" value="{{num}}">
	              {{num}}
	            </label>
	          </div>
	          <div class="review-comment form-group col-md-12">
	            <label for="review-comment-field">Comment</label>
	            <textarea ng-model="review.comment" rows="3" class="form-control" id="review-comment-field" name="review-comment-field"></textarea>
	          </div>
	          <div class="submit form-group col-md-12">
	            <button type="submit" class="btn btn-default pull-right">Send</button>
	          </div>
	        </form>
      	</div>
	</div>
    </div>
     
    <!-- when $scope.myValue is falsy (element is visible) -->
    <div ng-hide="detailMode" class="animate-hide">
    	<h4>{{listingType}}</h4>
	  	<div class="row">
	  		<div class="col-md-12">
	  			<ul>
		            <li class="col-md-3" ng-repeat="blend in blendOrder">
		                <span ng-click="toggleShow(blend.name)">{{blend.name}} ({{blend.average}})</span>
		            </li>
	  			</ul>
	  		</div>
	  	</div>
  	</div>


	<hr />
				<!-- Footer -->
				<br/>
				<br/>
				<br/>
				<br/>
				<footer class="row">
					<!-- Logo -->
					<div class="col-md-6">
						<div class="logo">
							<img src="images/logo.png" />
							<div class="slogan">
								Really good coffee.
							</div>
						</div>
					</div>
					<!-- Newsletter form -->
					<div class="col-md-6">
						<form class="signup-form form-horizontal" name="signupForm" ng-hide="signupSent">
							<label for="signupForm">Subscribe to newsletter</label>
							 <div class="user-name form-group">
								<label class="col-md-2 control-label" for="user-name-field">Name</label>
								 <div class="col-md-10">
									<input class="form-control" type="text" id="user-name-field" name="user-name-field" ng-model="user.name" />
								 </div>
							 </div>
							 <div class="user-email form-group">
							  <label class="col-md-2 control-label" for="user-email-field">Email</label>
							 <div class="col-md-10">
							 <input class="form-control" type="text" id="user-email-field" name="user-email-field" ng-model="user.email" />
							</div>
						</div>
						<div class="submit form-group">
							<div class="col-md-12">
								<button type="submit" class="btn btn-success pull-right">Subscribe</button>
							</div>
						</div>
					</form>
<!-- Thank you message. -->
				<div class="signup-sent" ng-show="signupSent">
					<h5>Thanks for signing up!</h5>
				</div>
				</div>
				</footer>
 </div>

  	 <!-- Bootstrap CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|Architects+Daughter' rel='stylesheet' type='text/css'>

    <!-- Custom JS -->
    <script src="js/data.js"></script>
    <script src="js/app.js"></script>
    <script src="js/blends.js"></script>

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="style.css" />
  </body>
  </html>